<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="favicon.png">
  <style>
    .lead{
        padding-top: 10px;
        padding-bottom : 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        background-color:#f6f6f6;
        width: 100%;

    }
  </style>
</head>
<body>
  <h1>This is the details of {{lead.first_name}} </h1>
  <p>This persons age : {{lead.age}}</p>
  <p>This persons agent: {{lead.agent}}</p>


</body>
</html>